.container {
  margin-bottom: var(--spacing-16);
  text-align: right;
}

.container label {
  margin-right: var(--spacing-4);
}

.container input {
  border: none;
  padding: var(--spacing-4) var(--spacing-24);
  border-radius: var(--radius-md);
  background-color: var(--input-placeholder);
}

.container input::placeholder {
  color: var(--input-placeholder);
  letter-spacing: var(--spacing-8);
}
