.container {
  padding-top: 4px;
  height: 300px;
  width: 300px;
  margin: 0 2rem 2rem 0;
  background-color: var(--fundColor);
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    29px 12px 19px 11px rgba(81, 81, 81, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    29px 12px 19px 11px rgba(81, 81, 81, 0);
  overflow: hidden;
}
