.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.chat__container {
  max-height: 400px;
  width: 40%;
  max-width: 400px;
  margin-right: 20px;
  background-color: var(--secondary-text);
  overflow: hidden;
  border-radius: 10px;
}

.list-chat__container {
  height: 400px;
}

/* Room Line (Header) */
.message__container {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
.room__container {
  width: 52%;
}

.room__header {
  background-color: var(--primary-accent);
  height: 40px;
  align-content: center;
  margin-bottom: 20px;
  overflow: auto;
  box-sizing: border-box;
}

.room__header button:hover {
  background-color: wheat;
}

.room__header button:active {
  background-color: red;
}

.chat__window {
  background-color: antiquewhite;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
