.container {
  max-width: 350px;
  max-height: 400px;
  min-width: 300px;
  background-color: var(--design);
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
}


/* User List */
.p-style {
  padding: 0;
  margin: 0;
}

.chat__container {
  height: 400px;
}
