.container {
  position: absolute;
  padding: 2px 40px;
  top: 80px;
  background-color: rgb(233, 56, 17);
  border-radius: 20px;
  right: 1rem;
  opacity: 0;
  box-shadow: 0 4px 8px rgba(0, 9, 0, 0.2);
  transition: opacity 1s ease-in-out;
  align-items: center;
}

.visible {
  opacity: 1;
}
