.form input {
    background-color: var(--input-placeholder);
    border-radius: var(--radius-xl);
    border: none;
    height: 22px;
    margin-right: var(--spacing-4);
    padding: var(--spacing-1) var(--spacing-1-5);
    width: 240px;
}

.form button {
    height: 26px;
    width: 80px;
    background-color: var(--button-background);
}