.form input {
    background-color: var(--input-placeholder);
    border-radius: 0.75rem;
    border: none;
    height: 22px;
    margin-right: 1rem;
    padding: 4px 6px;
    width: 240px;
}

.form button {
    height: 26px;
    width: 80px;
    background-color: var(--button-background);
}