.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
}

.custom__size_70 {
    width: 70;
}

.custom__size_240 {
    width: 240px;
}

.dropdown__input {
    padding: 2px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 7px;
}

/* TODO Improve with Constants or remove */
.placeholder {
    color: #df4402;
}

.dropdown__tool svg {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.dropdown__tool svg.translate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Menu */
.dropdown__menu {
    /* padding: 2px 12px; */
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    overflow: auto;
    background-color: #fff;
    z-index: 99;
}

.dropdown__menu::-webkit-scrollbar {
    width: 5px;
}

.dropdown__menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dropdown__menu::-webkit-scrollbar-thumb {
    background: #888;
}

.dropdown__menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Alignment */
.dropdown__menu.alignment--left {
    left: 0;
}

.dropdown__menu.alignment--right {
    right: 0;
}

/* Items */
.dropdown__item {
    padding: 7px 10px;
    cursor: pointer;
    -webkit-transition: background-color 0.35s ease;
    transition: background-color 0.35s ease;
    border-radius: 6px;
    font-weight: 500;
}

.dropdown__item:hover {
    background-color: rgba(130, 134, 139, 0.2);
    color: #ff7300;
}