.container {
  background: var(--cream-2);
  border: var(--border-default);
  border-radius: var(--radius-2xl);
  overflow: hidden;
}

.grid__container {
  height: var(--product-card-size);
  width: var(--product-card-size);
  margin: 0 var(--spacing-8) var(--spacing-8) 0;
  position: relative;
}

.list__container {
  height: var(--spacing-15);
  width: 100%;
  padding: var(--spacing-1) var(--spacing-4);
}
