.container {
  background-color: var(--primary-accent);
  border-radius: 20px;
  overflow: hidden;
}

.grid__container {
  height: 300px;
  width: 300px;
  margin: 0 2rem 2rem 0;
  position: relative;
}

.list__container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1rem;
}
