.container {
  max-width: 350px;
  max-height: 400px;
  min-width: 300px;
  background: var(--white);
  border: var(--border-default);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-window);
  position: fixed;
  right: var(--spacing-12);
  bottom: var(--spacing-12);
  overflow: hidden;
  z-index: 200;
}

.border__open {
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}
