.li {
  padding: 6px 0px;
  list-style: none;
  background-color: var(--button-background);
}

.li a {
  padding: 6px 12px;
}

.li:hover {
  background-color: var(--button-hover);
}

/* .li a.active {
  color: 'black';
} */

.disabled {
  background-color: var(--button-hover);
}
