.li {
  padding: var(--spacing-1-5) 0;
  list-style: none;
  background-color: var(--button-background);
}

.li a {
  padding: var(--spacing-1-5) var(--spacing-3);
}

.li:hover {
  background-color: var(--button-hover);
}

/* .li a.active {
  color: 'black';
} */

.disabled {
  background-color: var(--button-hover);
}
