.container {
  padding-top: var(--spacing-1);
  height: 300px;
  width: 300px;
  margin: 0 var(--spacing-8) var(--spacing-8) 0;
  background: var(--cream-2);
  border: var(--border-default);
  border-radius: var(--radius-2xl);
  overflow: hidden;
}
