.image__container {
  margin-top: var(--spacing-14);
  height: var(--product-img-h);
  position: relative;
  justify-content: center;
}

.image__container img {
  width: var(--product-img-w);
  height: var(--product-img-h);
  opacity: var(--opacity-high);
}

.card__img img:hover {
  opacity: var(--opacity-low);
}

.product_title {
  margin: var(--spacing-4) 0 var(--spacing-20) 0;
}
