.image__container {
  margin-top: var(--spacing-14);
  height: 100px;
  position: relative;
  justify-content: center;
}

.image__container img {
  width: 200px;
  height: 100px;
  opacity: 90%;
}

.card__img img:hover {
  opacity: 10%;
}

.product_title {
  margin: var(--spacing-4) 0 var(--spacing-20) 0;
}
