.image__container {
  margin-top: 14px;
  height: 100px;
  position: relative;
  justify-content: center;
}

.image__container img {
  width: 200px;
  height: 100px;
  opacity: 90%;
}

.card__img img:hover {
  opacity: 10%;
}

.product_title {
  margin: 3px 0 20px 0;
}
