.image__container {
    margin-right: 2rem;
}

.image__container img {
    /* position: absolute; */
    /* top: 25px; */
    /* left: 55px; */
    width: 200px;
    opacity: 90%;
    margin-top: 14px;
}

.card__img img:hover {
    opacity: 10%;
}

.book_title {
    margin: 3px 0 40px 0;
    /* margin-bottom: 20px; */
}

.book__container {
    margin-bottom: 2rem;
}

.book__container p {
    margin: 2px;
    margin-bottom: 8px;
}

.book__container span {
    margin-left: 6px;
}