.container {
  margin: 0 var(--spacing-8) var(--spacing-8) 0;
  background: var(--cream-2);
  border: var(--border-default);
  border-radius: var(--radius-pill);
  overflow: hidden;
  height: 60px;
  width: 100%;
  padding: var(--spacing-1) var(--spacing-4);
}
