.container {
  margin: 0 var(--spacing-32) var(--spacing-32) 0;
  background: var(--cream-2);
  border: var(--border-default);
  border-radius: var(--radius-pill);
  overflow: hidden;
  height: var(--spacing-60);
  width: 100%;
  padding: var(--spacing-4) var(--spacing-16);
}
