.paragraph {
  padding-bottom: 7px;
  text-align: center;
}

.paragraph a {
  color: var(--secondary-text);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  padding-left: 20px;
}