.header {
  background: var(--accent);
  color: var(--white);
  border-radius: var(--radius-2xl);
  font-family: var(--font-sans);
}


.navigation__nav h1 {
  margin-left: var(--spacing-32);
  font-family: var(--font-serif);
  font-size: var(--text-2xl);
}

.navigation__ul {
  margin-right: var(--spacing-32);
  display: flex;
  gap: var(--spacing-16);
}
