.detail__card {
    width: 35%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    border-radius: 2rem;
    padding: 2rem 2rem 2rem 2rem;
}

.backward {
    width: 100%;
    margin-bottom: 1rem;
}

.btn {
    border: none;
}

.btn i {
    scale: 2;
    color: #2f394b;
}

.container__img {
    margin-right: 2rem;
}

.container__img img {
    width: 200px;
}

.container__book {
    margin-bottom: 2rem;
}

.container__book span {
    margin-left: 6px;
}

.functionality {
    text-align: center;
}

.functionality button {
    margin: 1rem;
    width: 180px;
    padding: 10px 6px;
}

.functionality__purchase {
    width: 100%;
}

.functionality__reagin {
    width: 100%;
}