.navigation__container {
    margin: 1rem 1rem 0 1rem;
}

.navigation__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__nav h1 {
    margin-left: 2rem;
}

.navigation__ul {
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

.navigation__ul li {
    list-style: none;
    padding: 6px 12px;
    background-color: var(--btn__li);
}

.navigation__ul li:hover {
    background-color: var(--btn__li-hover);
}