.container {
    position: absolute;
    padding: 2px 40px;
    top: 80px;
    background-color: antiquewhite;
    border-radius: 20px;
    right: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}
