.App {
  text-align: center;
}

:root {
  --fundColor: #ecbb00;
  --btn__li: #ffefca;
  --btn__li-hover: #b4aa99;
  --btn__li-text: #4d4637;
  /* --btn__li-active: rgb(0, 0, 0); */
  --backward: #2f394b;
  --design: rgb(93, 93, 103);
  --input-placeholder: rgba(114, 98, 98, 0.599);
  --input-bg: rgba(155, 7, 7, 0.475);
}

.global__bg-radius {
  background-color: var(--fundColor);
  border-radius: 1rem;
}

.section {
  text-align: center;
  width: 50%;
  margin: 2rem auto 3rem;
}

.form__container {
  border-radius: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 1.5rem 1rem;
}

.disabled {
  color: white;
}

a,
button,
li {
  text-decoration: none;
  color: var(--btn__li-text);
  border: none;
}

a,
button,
li {
  border-radius: 8px;
}

.content__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 1.2rem;
  text-align: center;
  width: 86%;
}

.shadow {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    29px 12px 19px 11px rgba(81, 81, 81, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    29px 12px 19px 11px rgba(81, 81, 81, 0);
}
