.App {
  text-align: center;
}

:root {
  --primary-accent: #ecbb00;
  --button-background: #ffefca;
  --button-hover: #b4aa99;
  --button-text: #4d4637;
  /* --button-active: rgb(0, 0, 0); */
  --header-background: #2f394b;
  --secondary-text: rgb(93, 93, 103);
  --input-placeholder: rgba(114, 98, 98, 0.599);
}

body {
  margin: 1rem 1rem 0 1rem;
}

p {
  padding: 0;
  margin: 0;
}

a,
button,
li {
  text-decoration: none;
  color: var(--button-text);
  border: none;
  border-radius: 8px;
}

.global__bg-radius {
  background-color: var(--primary-accent);
  border-radius: 1rem;
}

.section {
  text-align: center;
  width: 50%;
  margin: 2rem auto 3rem;
}

.form__container {
  border-radius: 3rem;
  border: none;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 1.5rem 1rem;
}

.disabled {
  color: white;
}

.content__page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 1.2rem;
  text-align: center;
  width: 86%;
}

.shadow {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    29px 12px 19px 11px rgba(81, 81, 81, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    29px 12px 19px 11px rgba(81, 81, 81, 0);
}

.shadow__window {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
